@{
    ViewBag.Title = "Page2";
}

<h2>Test Page2</h2>


@using (Html.BeginForm())
{
    <div>Enter "SKIP" to skip the next step</div>
    <input id="skip" name="skip" />
    <button>Next</button>
    
}

